<ion-view title="Aerobic routine">
  <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header" padding="true">

      <div class="list">
        <li class = "item item-balanced">
          <a style="text-decoration:none"  ui-sref="app.play_stop">
                <h2>Part 1</h2>
                <span style="padding-left:1em"class="item-icon-body pull-right">Estimated time: 16min</span>
                <span style="padding-left:1em"class="item-icon-body pull-right">Speed:&nbsp;normal</span>
          </a>
        </li>
        <li class = "item item-balanced">
          <a style="text-decoration:none"  ui-sref="app.play_stop">
                <h2>Part 2</h2>
                <span style="padding-left:1em"class="item-icon-body pull-right">Estimated time: 16min</span>
                <span style="padding-left:1em"class="item-icon-body pull-right">Speed:&nbsp;normal</span>
          </a>
        </li><li class = "item item-balanced">
          <a style="text-decoration:none"  ui-sref="app.play_stop"">
                <h2>Part 3</h2>
                <span style="padding-left:1em"class="item-icon-body pull-right">Estimated time: 16min</span>
                <span style="padding-left:1em"class="item-icon-body pull-right">Speed:&nbsp;normal</span>
          </a>
        </li>
      </div>
      </ion-content>
</ion-view>
