<ion-view title="Anaerobic Routine">
  <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header" padding="true">

      <div class="list">
        <li class = "item item-balanced">
          <a style="text-decoration:none"  ui-sref="app.anaerobic_set_detail">
                <h2>Set 1</h2>
                <h3>Tempo:fast</h3>
          </a>
        </li>
        <li class = "item item-balanced">
          <a style="text-decoration:none" ui-sref="app.anaerobic_set_detail">
                <h2>Set 2</h2>
                <h3>Tempo:slow</h3>
          </a>
        </li><li class = "item item-balanced">
          <a style="text-decoration:none" ui-sref="app.anaerobic_set_detail">
                <h2>Set 3</h2>
                <h3>Tempo:fast</h3>
          </a>
        </li>
      </div>
      </ion-content>
</ion-view>
