<ion-view title="Set detail">
  <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content class="has-header" padding="true">
        <div class="list card">

          <div class="item item-avatar">
            <img src="img/bench-press.jpg">
            <h2>Bench press</h2>
            <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/bench-press.jpg">
            <p>
              Lie back on a flat bench. Using a medium width grip (a grip that creates a 90-degree angle in the middle of the movemen...
            </p>
            <div class="list card">
              <a href="#" class="item item-icon-left">
                <i class="icon ion-man"></i>
                  Reps: 10  Last weight used:20kg
              </a>

              <a href="#" class="item item-icon-left">
                <i class="icon ion-man"></i>
                  Reps: 8  Last weight used:25kg
              </a>

              <a href="#" class="item item-icon-left">
                <i class="icon ion-man"></i>
                  Reps: 8  Last weight used:25kg
              </a>

              <a href="#" class="item item-icon-left">
                <i class="icon ion-man"></i>
                  Reps: 6  Last weight used:40kg
              </a>
            </div>
          </div>

        </div>

      </ion-content>
</ion-view>
