<ion-view title="Exercise detail">
  <ion-view title="My log">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true"
  <div class="card">
    <div class="item item-divider">
      Bench press
    </div>
    <div class="item item-text-wrap">
      Your personal maximum: &nbsp;50kg<br>
      Space station record: &nbsp;80kg<br>
      Space station owner: &nbsp;Neil Amstrong<br>
    </div>
  </div>
</ion-content>
</ion-view>
