<ion-view title="My log">
  <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-content class="has-header" padding="true">
          <div class="row">
            <div style="border: solid 1px grey;" class="col">Exercise: Bench press
              <a ui-sref="app.exercise_log_details"><i class="icon ion-information-circled"></i></div></a>
            <div style="border: solid 1px grey;" class="col">Reps: 10</div>
            <div style="border: solid 1px grey;" class="col"> Weight: 20kg</div>
            <div style="border: solid 1px grey;" class="col">Tempo: Normal</div>
          </div>
          <div class="row">
            <div style="border: solid 1px grey;" class="col">Exercise: Bench press <i class="icon ion-information-circled"></i></div>
            <div style="border: solid 1px grey;" class="col">Reps: 8</div>
            <div style="border: solid 1px grey;" class="col"> Weight: 25kg</div>
            <div style="border: solid 1px grey;" class="col">Tempo: Normal</div>
          </div>
          <div class="row">
            <div style="border: solid 1px grey;" class="col">Exercise: Bench press <i class="icon ion-information-circled"></i></div>
            <div style="border: solid 1px grey;" class="col">Reps: 8</div>
            <div style="border: solid 1px grey;" class="col"> Weight: 25kg</div>
            <div style="border: solid 1px grey;" class="col">Tempo: Normal</div>
          </div>

        </ion-content>
</ion-view>
